*{
  margin:0;
  padding:0;
}
.navbar{
  background-color: #FFFFFF;
  width: 85vw;
  height:12vh;
  margin: 0 auto;
  font-family: Geneva, Verdana, sans-serif;
}
.navbar ul{
  margin: auto;
  font-weight: 600;
}
.navbar ul li a{
 margin: 0 1em;
}
.navbar button{
  background: #D01C28;
  color: #FFFFFF;
}
.navbar button:hover{
  background: #57070c;
  color: #ffffffab;
}
.itemInfo{
  width:70vw;
  height:60vh;
  margin:0 auto;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemInfo .div1 , .div2{
  width:35vw;
}
.div1 h1{
  color: black;
  font-weight: 700;
  font-size: 5rem;
}
.div1 div>p{
  width: 30vw;
  font-size: 0.9em;
  font-weight: 500;

}
.btn-div{
  gap: 1em;
}

.btn1{
  background-color: #D01C28;
  color: #FFFFFF;
  font-weight: 600;
}
.btn2{
  border: 1px solid black;
}
.div2{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div3{
  width: 35vw;
  height:60vh;
}
.div3 img{
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}